img{
    width: 500px;
}
body{
    background-image: url('brandimages.jpg');
    background-repeat: no-repeat;
    background-size: 100% 900px;
}
h1{
    text-align:center;
    /* color:white; */
    padding:40px;
}
.form-inline {  
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: white;
   
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .names{
      text-align:center;
      font-size:40px;
      /* font-size:xx-large; */
  }
   li{
       list-style-type: none;
   }